@import "tailwindcss";
@plugin "daisyui";

@theme{
    --color-brown-primary: #5c3e3e;
    --color-brown-secondary: #784a4a;
    --color-brown-tertiary: #bd8e8e;
}

@layer components {
  .salsa-regular {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
}

.animate-rotate {
  animation: rotate 1.2s ease-in-out infinite;
}
}

@keyframes rotate {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}